body {
	margin: 0px;
	background-color: #232323;
	font-family: "Roboto", "Avenir", "Montserrat";
}

.square {
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	background-color: purple;
	float: left;
	border-radius: 15%;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}

#colorDisplay {
	font-size: 2em;
}

#messageDisplay {
	color: black;
	width: 20%;
	display: inline-block;
}

#stripe {
	background-color: white;
	text-align: center;
	height: 30px;
}

#squareContainer {
	max-width: 600px;
	margin: 20px auto;
}

h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	padding: 20px 0;
	line-height: 1.1;
	text-transform: uppercase;
	font-weight: normal;
}

button {
	border: none;
	font-family: "Roboto", "Avenir", "Montserrat";
	text-transform: uppercase;
	height: 100%;
	background-color: white;
	font-weight: 700;
	letter-spacing: 1px;
	outline: none;
	color: steelblue;
	font-size: inherit;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.selected {
	background: steelblue;
	color: white;
}

button:hover {
	color: white;
	background-color: steelblue;
}