body {
	border: 10px solid #bdc3c7;
	max-width: 75%;
	width: 800px;
	padding: 0 2% 0 2%;
	margin: 20px auto auto;
	font-family: 'Source Sans Pro';
}


h4 {
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 0.2rem;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
hr {
	background-color: #bdc3c7;
}

div p:nth-of-type(1) {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px; 
}

p {
	font-size: 1em;
}

#article {
	margin-bottom: 5%;
}
/*
border color: #bdc3c7;
date color: #3498db;
h2 color: #2c3e50;

font source sans pro
*/