<% include partials/header %>
<h1>These are all the posts</h1>

<ul>
<% for(var i = 0; i < posts.length; i++) {%>
	<li><%= posts[i].name%> - <%= posts[i].title %></li>
	
<%	} %>
</ul>

<ol>
	<% posts.forEach(function(post){ %>
		<li><%= post.name%> - <%= post.title %></li>
	<%})%>
</ol>
<% include partials/footer %>