#divContainer {
	width: 360px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	margin: 100px auto;
	background-color: #f7f7f7;
	font-family: 'Roboto';
}

.taskCompleted {
	color: gray;
	text-decoration: line-through;
}

#plusIcon {
	float: right;
}

h1 {
	background-color: #2980b9;
	color: white;
	margin: 0px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400;
}

body {
	background: #085078; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #085078 , #85D8CE); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #085078 , #85D8CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.task {
	background: white;
	height: 40px;
	color: #666666;
	line-height: 40px;
}

.task:nth-of-type(even) {
	background: #f7f7f7;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#txtTodo {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 90%;
	margin: 0px;
	border: none;
	outline: none;
	color: #2980b9;
	padding: 13px 5%;
}

#txtTodo:focus {
	background-color: #f0f0f0;
}

.deleteTask {
	background: #e74c3c;
	height: 40px;
	text-align: center;
	margin-right: 20px;
	color: white;
	width: 0px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

.task:hover .deleteTask{
	width: 40px;
	opacity: 1;
}