<h1>
	Friends go here!
</h1>

<% friends.forEach(function(friend) { %>
	<li>I have a friend whose name is <%= friend %>!</li>
<% }); %>

<form action="addFriend" method="POST">
	<input type="text" name="newFriend" placeholder="name">
	<button>Add new friend</button>
</form>